/*
@font-face {
    font-family: Poppins;
    src:url("./fonts/Poppins-SemiBold.ttf");
}
*/
body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    background-color: #565759;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#wrapper {
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2em 0 2em;
	height: 100%;
    background-color: #78797a;
	display: flex;
	flex-direction: column;
}
main {
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #78797a;
}
footer {
	padding-top: 0px;
}
p {
    font-size: 1rem;
}
.centeredHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* General page stylings */
.anchorButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
    cursor: pointer;
    background-color: #0984C0;
    border-radius: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    color: #EBECF1;
    font-size: 1.5rem;
    font-weight: 600;
}
.anchorButton:hover {
    background-color: #60BDD1;
}
.anchorButton:active {
    background-color: #90D0DF;
}

/* Forms */

.inputForm {
    margin: 5rem 0; 

    display: flex;
    flex-direction: column;
    
    background-color: #acd6e9;
    border-radius: 1rem;
    width: 40%;
    padding: 0.75rem;
}

.inputForm .splitLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.inputForm .helpText {
    font-size: 0.75rem;
}

.inputForm h1, .inputForm h2, .inputForm h3, .inputForm h4, .inputForm h5, .inputForm h6 {
    margin: 0;
    text-align: center;
}

.inputForm p {
    margin: 0.15em 0;
}

.inputForm h1 {
    font-size: 2rem;
}

.inputForm .formExtras {
    padding: 0.25em; 
    font-size: 1rem;
}

.inputForm input {
    border: none;
    outline: none;
}

.inputForm label {
    margin-bottom: 0.10em;
}

.inputForm input[type="text"], form input[type="password"], form input[type="date"], form input[type="number"], form input[type="time"], form input[type="datetime-local"], form input[type="file"] {
    color: white;
    margin-bottom: 1em;
    padding: 0.25em;
    width: 80%;
    
    background-color: #566b75;
    border-bottom: 1px solid white;
}

.inputForm input[type="submit"] {
    padding: 0.25em;
    font-size: 1.25rem;
}

.errorBox {
    background-color: #FF4A42;
    padding: 1em;
}
/* End forms */

.singleCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

